.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        color: black;
    }
    .game-message {
        img {
            cursor: default;
            border: none;
            &:hover {
                border: none;
            }
        }
    }
    .coordinates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;;
        .vertical {
            display: flex;
            text-align: center;
            flex-direction: column-reverse;
            width: 30px;
            gap: 37px;
            padding-bottom: 20px;
        }
        .vertical-second {
            display: flex;
            text-align: center;
            flex-direction: column;
            width: 30px;
            gap: 37px;
            padding-bottom: 20px;
        }
        .chess-div {
            display: flex;
            align-items: center;
            flex-direction: column;
            .chess-board {
                display: grid;
                position: relative;
                grid-template-columns: repeat(8, 60px);
                grid-template-rows: repeat(8, 60px);
                width: 480px;
                height: 480px;
                .black-tile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    background-color: var(--dark-square-color, #7e5e2e);
                }
                .white-tile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    background-color: var(--light-square-color, #ffdabb);
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .promotion-div {
            display: flex;
            align-items: flex-start;
        }
    }
    .horizontal {
        span {
            padding: 26px;
        }
    }
    .horizontal-second {
        span {
            padding: 26px;
        }
    }
}
.attacking::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: red;
    z-index: 1;
}
.highlight::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: green;
    z-index: 5;
}
.check::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: rgb(60, 0, 0);
    z-index: 1;
}