.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        color: black;
    }
    .game-status {
        text-align: center;
        position: absolute;
        z-index: 10;
        width: 200px;
        background-color: rgb(255, 218, 187);
        border: 4px solid rgb(126, 94, 46);
        padding: 20px;
        margin-left: 30px;
        span {
            color: black;
            font-weight: bold;
        }
        img {
            cursor: pointer;
            margin: 2px;
            padding: 5px;
            width: 40px;
            height: 50px;
            background-color: rgb(255, 218, 187);
            border: 4px solid rgb(126, 94, 46);
            &:hover {
                border: 4px solid green;
            }
        }
        button {
            width: 100%;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: rgb(126, 94, 46);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            &:hover {
                background-color: rgb(126, 104, 71);
            }
        }
    }
    .hide-game-status {
        display: none;
    }
    .game-message {
        img {
            cursor: default;
            border: none;
            &:hover {
                border: none;
            }
        }
    }
    .coordinates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;;
        .vertical {
            display: flex;
            text-align: center;
            flex-direction: column-reverse;
            color: black;
            width: 30px;
            gap: 37px;
            padding-bottom: 20px;
        }
        .vertical-second {
            display: flex;
            text-align: center;
            flex-direction: column;
            color: black;
            width: 30px;
            gap: 37px;
            padding-bottom: 20px;
        }
        .chess-div {
            display: flex;
            align-items: center;
            flex-direction: column;
            .chess-board {
                display: grid;
                position: relative;
                grid-template-columns: repeat(8, 60px);
                grid-template-rows: repeat(8, 60px);
                width: 480px;
                height: 480px;
                .black-tile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    background-color: var(--dark-square-color, #7e5e2e);
                }
                .white-tile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    background-color: var(--light-square-color, #ffdabb);
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .promotion-div {
            display: flex;
            align-items: flex-start;
        }
    }
    .horizontal {
        span {
            color: black;
            padding: 26px;
        }
    }
    .horizontal-second {
        span {
            color: black;
            padding: 26px;
        }
    }
}
.attacking::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: red;
    z-index: 1;
}
.highlight::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: green;
    z-index: 5;
}
.check::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: rgb(60, 0, 0);
    z-index: 1;
}