html {
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --text-center: left;
  --text-center-panel: var(--text-center);
  --btn-gradient: linear-gradient(160deg, rgb(143, 205, 255) 0%, rgb(45, 111, 255) 47%, rgb(15, 0, 218) 74%);
  --btn-style-color: var(--btn-gradient);
  --btn-hover-light: rgb(70, 170, 252);
  --btn-border: none;
  --btn-radius: 50px;
  --btn-hover: var(--btn-hover-light);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  margin: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
li {
  list-style: none;
}
[data-theme='dark'] {
  --bg-color: rgb(30, 30, 30);
  --text-color: rgb(255, 255, 255);
  --btn-gradient: linear-gradient(160deg, rgb(1, 96, 173) 0%, rgb(0, 60, 189) 47%, rgb(8, 0, 116) 74%);
  --btn-hover-dark: rgb(1, 125, 226);
}
[data-style='old'] {
  --btn-style-color: var(--btn-gradient);
  --btn-hover: var(--btn-hover-light);
  --btn-border: 2px outset black;
  --btn-radius: 0;
  --text-center: center;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
option {
  color: black;
}