:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(30, 30, 30);
  --btn-gradient-old: linear-gradient(160deg, rgb(255, 255, 255) 0%, rgb(180, 180, 180) 47%, rgb(141, 141, 141) 74%);
  --btn-style-color: var(--btn-color-new);
  --btn-color-new: rgb(180, 180, 180);
  --btn-hover-light-new: rgb(220, 220, 220);
  --btn-hover-light-old: linear-gradient(160deg, rgb(255, 255, 255) 0%, rgb(221, 221, 221) 47%, rgb(185, 185, 185) 74%);
  --btn-border: none;
  --btn-radius: 50px;
  --btn-hover: var(--btn-hover-new);
  --btn-hover-old: var(--btn-hover-light-old);
  --btn-hover-new: var(--btn-hover-light-new);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  margin: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
li {
  list-style: none;
}
[data-theme='dark'] {
  --bg-color: rgb(30, 30, 30);
  --text-color: rgb(255, 255, 255);
  --btn-gradient-old: linear-gradient(160deg, rgba(217, 215, 215, 1) 0%, rgba(89, 87, 87, 1) 47%, rgba(56, 55, 55, 1) 74%);
  --btn-hover-old: var(--btn-hover-dark-old);
  --btn-hover-new: var(--btn-hover-dark-new);
  --btn-hover-dark-old: linear-gradient(160deg, rgb(235, 232, 232) 0%, rgb(131, 130, 130) 47%, rgb(102, 102, 102) 74%);
  --btn-hover-dark-new: rgb(90, 90, 90);
  --btn-color-new: rgb(50, 50, 50);
}
[data-style='old'] {
  --btn-style-color: var(--btn-gradient-old);
  --btn-hover: var(--btn-hover-old);
  --btn-border: 2px outset black;
  --btn-radius: 0;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
