@use "/src/common/styles/templates" as *;
@use "/src/common/styles/mixins" as *;
@use "/src/common/styles/widths" as *;

.card {
    @extend %panel-style;
    @extend %flex-between;
    flex-direction: row;
    gap: $cardGap;
    padding: $cardPadding;
    margin: $buttonPadding;
    height: $cardHeight;
    .image-style {
        @extend %flex-row;
        gap: $cardGap;
    }
    .level-div {
        @extend %flex-align-center;
        gap: $buttonPadding;
        button {
            @extend %btn-style;
            @include button-style($buttonWidthThird, $linkLineHeight, $padding);
        }
    }
}