.wrapper {
    background-color: rgb(255, 218, 187);
    border: 4px solid rgb(126, 94, 46);
    padding: 10px;
    width: 480px;
    height: 452px;
    div {
        h3 {
            margin: 0px;
            text-align: center;
        }
        h4 {
            color: rgb(255, 255, 255);
            margin: 0px;
        }
        img {
            padding: 0px 5px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .btns-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        button {
            cursor: pointer;
            font-size: 1.05em;
            font-weight: 600;
            color: rgb(255, 255, 255);
            background-color: rgb(126, 94, 46);
            border: none;
            border-radius: 10px;
            padding: 8px;
            flex: 1;
            margin: 0 5px;
            &:hover {
                background-color: rgb(106, 74, 26);
            }
        }
    }
    .board-colors {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0 0 0 10px;
        flex-wrap: wrap;
        label {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: rgb(126, 94, 46);
        }
        input[type="color"] {
            width: 36px;
            height: 36px;
            background-color: rgb(126, 94, 46);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &::-webkit-color-swatch {
                border: 2px solid black;
                border-radius: 4px;
            }
        }
        .reset-colors-btn {
            cursor: pointer;
            font-size: 1.05em;
            font-weight: 600;
            color: rgb(255, 255, 255);
            background-color: rgb(126, 94, 46);
            border: none;
            border-radius: 10px;
            padding: 8px;
            flex: 1;
            margin: 0 5px;
            &:hover {
                background-color: rgb(106, 74, 26);
            }
        }
    }
    .replace-pieces {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div {
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgb(106, 74, 26);
            border-radius: 10px;
            padding: 3px;
            .pieces-variants-text {
                display: inherit;
                flex-direction: row;
            }
            .pieces-variants {
                display: inherit;
                flex-direction: row;
                justify-content: center;
                border-radius: 10px;
                padding: 1px;
                border: 2px solid transparent;
                transition: border-color 0.2s ease;
                &.selected {
                    border: 2px solid #4CAF50;
                    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
                }
            }
        }
    }
}