.wrapper {
    background-color: rgb(255, 218, 187);
    border: 4px solid rgb(126, 94, 46);
    padding: 10px;
    width: 340px;
    height: 452px;
    div {
        img {
            padding: 5px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .btns-div {
        display: flex;
        justify-content: space-between;
        button {
            cursor: pointer;
            font-size: 1.05em;
            font-weight: 600;
            color: rgb(255, 255, 255);
            background-color: rgb(126, 94, 46);
            border: none;
            border-radius: 10px;
            padding: 8px;
        }
    }
}