@use '/src/common/styles/templates' as *;

.wrapper {
    width: 100%;
    height: 15vh;
    .btns-div {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        button, select {
            @extend %btn-style;
            height: 5vh;
        }
        button {
            width: 15vh;
        }
        select {
            width: 25vh;
            option {
                color: black;
            }
        }
        input[type="color"] {
            width: 5vh;
            height: 5vh;
            @extend %btn-style;
        }
    }
    .replace-pieces {
        display: flex;
        flex-direction: row;
        .pieces-variants {
            @extend %btn-style;
            display: flex;
            align-items: center;
            img {
                width: 5.5vh;
                height: 5vh;
            }
        }
    }
    img {
        width: 6vh;
        height: 6vh;
        padding: 0 5px;
    }
    .pawn {
        height: 4.5vh;
    }
}