@use "/src/common/styles/templates" as *;
@use "/src/common/styles/widths" as *;

.timer {
  @extend %flex-between;
}
.time {
  @extend %btn-style;
  font-size: $cardPadding;
  font-weight: bold;
  width: 76px;
  height: 50px;
}
.active {
  background-color: #4caf50;
}
