@use "/src/common/styles/templates" as *;
@use "/src/common/styles/breakpoints" as *;
@use "/src/common/styles/widths" as *;

.captured-container {
  @extend %panel-style;
  @extend %flex-start;
  flex-direction: column;
  gap: $buttonPadding;
  padding: $containerPadding;
  width: $containerWidth;
  height: 40%;
}
@media screen and (max-width: $m) {
  .captured-container {
    gap: $containerGap;
    margin-top: 93px;
    min-height: auto;
  }
}
.side {
  flex: 1;
  min-width: $zero;
  h3 {
    margin: $zero $zero $buttonPadding $zero;
    font-size: $fontSizeFirst;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #333;
  }
}

.captures {
  @extend %flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: $containerGap;
  margin-bottom: $buttonPadding;
  width: $containerWidth;
  min-width: $zero;
  min-height: $capturesHeight;
}

.captured-piece {
  @extend %flex-row;
  justify-content: center;
  width: $capturedPieceWidth;
  height: $capturedPieceHeight;
  img {
    object-fit: contain;
    background-size: auto;
    max-width: $capturedPieceWidth;
    max-height: $capturedPieceHeight;
  }
}
.piece-yellow {
  filter: brightness(0) saturate(100%) invert(77%) sepia(99%) saturate(727%)
    hue-rotate(358deg) brightness(101%) contrast(105%);
}
.piece-green {
  filter: brightness(0) saturate(100%) invert(42%) sepia(98%) saturate(1071%)
    hue-rotate(75deg) brightness(96%) contrast(106%);
}
.piece-blue {
  filter: brightness(0) saturate(100%) invert(38%) sepia(92%) saturate(1260%)
    hue-rotate(177deg) brightness(96%) contrast(101%);
}
.piece-red {
  filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(2190%)
    hue-rotate(337deg) brightness(96%) contrast(102%);
}
