@use '/src/common/styles/templates' as *;

.captured-container {
    @extend %panel-style;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}
.side {
    flex: 1;
    min-width: 450px;
    h3 {
        margin: 0 0 10px 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #333;
    }
}

.captures {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
    min-width: 480px;
    min-height: 60px;
}

.captured-piece {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    width: 3.5vh;
    height: 4vh;
    img {
        object-fit: contain;
        background-size: auto;
        max-width: 3.5vh;
        max-height: 4vh;
    }
}