@use "/src/common/styles/widths" as *;
@use "/src/common/styles/templates" as *;
@use "/src/common/styles/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  h2 {
    text-align: center;
  }
  .profile-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    button {
      @include button-style(120px, $buttonHeight, $buttonPadding);
      @extend %btn-style;
      margin-right: 10px;
    }
    .default-avatar {
      width: 350px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    .profile-avatar {
      width: 350px;
      height: 250px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .chess-wrapper {
    display: inherit;
    flex-direction: row;
    justify-content: center;
  }
  .control {
    width: 465px;
  }
}
.position-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.status-display {
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  color: black;
  h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}
.users {
    @extend %btn-style;
  width: 95%;
  padding: 5px;
  th,
  td {
    @extend %btn-style;
    width: 31.6%;
    text-align: center;
  }
}
