.wrapper {
    padding: 20px;
    h1, h2 {
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .more-info {
            display: flex;
            flex-direction: row;
            div {
                display: flex;
                flex-direction: column;
            }
        }
    }
    div {
        div {
            display: flex;
            flex-direction: column;
            img {
                width: 8vh;
                height: 8vh;
            }
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }
        .pieces-info {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 10px;
            img {
                width: 512px;
                height: 512px;
            }
        }
    }
}