.piece {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}
.dragging {
    opacity: 0;
}
.promotion {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 2.5px;
}
.selected:hover {
    background-color: rgb(38, 180, 38);
    box-shadow: 0 0 0 2px rgb(126, 94, 46) inset;
}