$linkWidth: 28vh;
$linkHeight: 28px;
$linkLineHeight: 30px;
$buttonWidth: 15vh;
$buttonWidthSecond: 120px;
$buttonWidthThird: 140px;
$buttonHeight: 32px;
$buttonPadding: 10px;
$cardGap: 20px;
$cardPadding: 15px;
$cardHeight: 80px;
$padding: 5px;
$boardWidth: 380px;
$boardWidthSecond: 480px;
$roomWidth: 180px;
$roomHeight: 90vw;
$minWrapperHeight: 100px;
$gameStatusWidth: 200px;
$gameStatusHeight: 260px;
$gameStatusWidthSecond: 582px;
$gameInfoPanelWidth: 300px;
$containerWidth: 100%;
$containerWidthSecond: 50%;
$containerWidthMinus: -50%;
$containerPadding: 12px;
$containerGap: 8px;
$zero: 0;
$formWidth: 250px;
$capturedPieceWidth: 3.5vh;
$capturedPieceHeight: 4vh;
$iconWidth: 22px;
$letterOrientation: 2px;
$fontSizeFirst: 14px;
$promotionWrapperWidth: 95vw;
$capturesHeight: 60px;
$imgHeight: 40px;