@use '/src/common/styles/colors' as *;
@use '/src/common/styles/widths' as *;
@use '/src/common/styles/templates' as *;

.container {
    @extend %flex-justify-center;
}
.loader {
    width: $linkHeight;
    height: $linkHeight;
    border-radius: $containerWidthSecond;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgb(45, 111, 255) 47%  33%, rgb(15, 0, 218) $containerWidth);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: $containerWidthSecond;
    top: $containerWidthSecond;
    transform: translate($containerWidthMinus, $containerWidthMinus);
    width: 24px;
    height: 24px;
    border-radius: $containerWidthSecond;
    background: white;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}