@use "/src/common/styles/templates" as *;
@use "/src/common/styles/mixins" as *;
@use "/src/common/styles/widths" as *;

.wrapper {
    @extend %panel-style;
        width: clamp(240px, $roomHeight, 340px);
        max-width: $containerWidth;
        height: clamp(240px, $roomHeight, 340px);
        max-height: $containerWidth;
        z-index: 25;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $containerGap;
        select {
            @extend %panel-style;
            @include button-style(80%, 35px, $buttonPadding);
        }
        button {
            @extend %btn-style;
            @include button-style(80%, $buttonHeight, $buttonPadding);
        }
    }
}