.piece {
  cursor: grab;
  width: calc(var(--cell-size) * 0.8);
  height: calc(var(--cell-size) * 0.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.piece-any {
  width: calc(var(--cell-size) * 0.8);
  height: calc(var(--cell-size) * 0.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.piece-pawn {
  width: calc(var(--cell-size) * 0.6);
  height: calc(var(--cell-size) * 0.6);
  margin-top: calc(var(--cell-size) * 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.piece-brick {
  width: calc(var(--cell-size) * 1);
  height: calc(var(--cell-size) * 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.piece:active {
  cursor: grabbing;
}
.dragging {
  opacity: 0;
}
.promotion {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 2.5px;
}
