@use "/src/common/styles/templates" as *;
@use "/src/common/styles/widths" as *;

.wrapper {
    @extend %flex-justify-center;
    padding-top: $padding;
    span {
        @extend %btn-style;
        @extend %flex-center;
        width: 50px;
        height: $imgHeight;
    }
    .page {
        cursor: default;
        @extend %panel-style;
        font-size: 1.1em;
    }
}