@use "/src/common/styles/widths" as *;
@use "/src/common/styles/templates" as *;
@use "/src/common/styles/mixins" as *;
@use "/src/common/styles/breakpoints" as *;

.wrapper {
  @extend %flex-center;
  flex-wrap: wrap;
  gap: $zero;
  margin: $zero;
  padding: $zero;
  .start-panel {
    @extend %panel-style;
    @extend %flex-column;
    justify-content: center;
    gap: $containerGap;
    width: clamp($boardWidth, $roomHeight, $boardWidthSecond);
    max-width: $containerWidth;
    height: clamp($boardWidth, $roomHeight, $boardWidthSecond);
    max-height: $containerWidth;
    padding: $containerPadding;
    button {
      @extend %btn-style;
      @include button-style($capturesHeight, $linkLineHeight, $padding);
    }
    .img-div {
      @extend %flex-row;
      justify-content: center;
      .img-style {
        @extend %btn-style;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0%;
        padding: $cardGap;
        background: var(--btn-style-color);
        background-size: 400% 400%;
        animation: gradientFlow 7s ease infinite;

        &.active {
          background: var(--btn-hover);
          animation: none;
        }
      }
    }
    .bot-level-div {
      @extend %flex-row;
      justify-content: center;
      gap: $padding;
      select {
        @extend %btn-style;
        height: 5vh;
        width: 7vh;
      }
      select, p {
        margin: $zero;
        font-size: $fontSizeFirst;
      }
    }
    .active {
      --btn-style-color: rgb(100, 185, 255);
    }
  }
  .game-status {
    @extend %panel-style;
    text-align: center;
    width: $gameStatusWidth;
    height: $gameStatusWidthSecond;
    margin: $zero;
    padding: $containerPadding;
    .game-message {
      @extend %flex-column;
      flex-wrap: wrap;
    }
    .game-message-text {
      @extend %flex-center;
      flex-direction: column;
    }
    .buttons-div {
      @extend %flex-column;
      gap: $padding;
    }
    select {
      @extend %btn-style;
      @include button-style($buttonWidthThird, $linkLineHeight, $padding);
    }
    span {
      color: black;
      font-weight: bold;
      font-size: $containerPadding;
    }
    img {
      margin: 1px;
      padding: 2px;
      width: 35px;
      height: $imgHeight;
    }
    button {
      @extend %btn-style;
      @include button-style($buttonWidthThird, $linkLineHeight, $padding);
    }
  }
  @media screen and (max-width: $x) {
    .game-status {
      width: clamp($boardWidth, $roomHeight, $boardWidthSecond);
      height: $gameStatusHeight;
      .buttons-div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      .game-message {
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: $l) {
      .start-panel {
      width: $gameInfoPanelWidth;
      height: $gameInfoPanelWidth;
    }
  }
  @media screen and (max-width: $s) {
    .game-status {
      height: $gameStatusHeight;
      .game-message-text {
        flex-direction: row;
      }
    }
  }
}