@use "/src/common/styles/templates" as *;
@use "/src/common/styles/widths" as *;

.wrapper {
  @extend %panel-style;
  @extend %flex-column;
  position: relative;
  z-index: 20;
  width: min($promotionWrapperWidth, 280px);
  max-width: $containerWidth;
  min-height: $minWrapperHeight;
  height: auto;
  padding: $fontSizeFirst $containerPadding;
  margin: $zero auto;
  gap: $buttonPadding;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: min($promotionWrapperWidth, 260px);
    min-height: 90px;
    padding: $buttonPadding;
  }
}
