.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        color: black;
    }
    .choose-color {
        margin-bottom: 10px;
        min-width: 7.5%;
        background-color: rgb(200, 200, 200);
        padding: 10px;
        border: 2px solid rgb(156, 156, 156);
        div {
            display: inherit;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            div {
                display: inherit;
                flex-direction: column;
                span {
                    color: black;
                    font-weight: bold;
                }
                div {
                    display: inherit;
                    flex-direction: row;
                    img {
                        padding: 2px;
                        background-color: rgb(160, 160, 160);
                    }
                    img:hover {
                        background-color: rgb(190, 190, 190);
                    }
                }
            }
            button {
                width: 100px;
                color: white;
                background-color: rgb(160, 160, 160);
                border: none;
                padding: 10px;
                &:hover {
                    background-color: rgb(180, 180, 180);
                }
            }
        }
    }
    .coordinates {
        display: flex;
        .vertical {
            display: flex;
            text-align: center;
            flex-direction: column-reverse;
            color: black;
            width: 30px;
            gap: 37px;
            padding-bottom: 20px;
        }
        .vertical-second {
            display: flex;
            text-align: center;
            flex-direction: column;
            color: black;
            width: 30px;
            gap: 37px;
            padding-bottom: 20px;
        }
        .chess-div {
            display: flex;
            align-items: center;
            flex-direction: column;
            .chess-board {
                display: grid;
                position: relative;
                grid-template-columns: repeat(8, 60px);
                grid-template-rows: repeat(8, 60px);
                width: 480px;
                height: 480px;
                .black-tile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    background-color: rgb(126, 94, 46);
                }
                .white-tile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    background-color: rgb(255, 218, 187);
                }
                span {
                    margin-left: 10px;
                }
            }
        }
        .promotion-div {
            display: flex;
            align-items: flex-start;
        }
    }
    .horizontal {
        span {
            color: black;
            padding: 26px;
        }
    }
    .horizontal-second {
        span {
            color: black;
            padding: 26px;
        }
    }
}
.attacking::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: red;
    z-index: 1;
}
.highlight::after {
    display: block;
    position: absolute;
    content: '';
    width: 58px;
    height: 58px;
    border: 2px solid black;
    background-color: green;
    z-index: 5;
}