@use "/src/common/styles/widths" as *;
@use "/src/common/styles/templates" as *;
@use "/src/common/styles/mixins" as *;
@use "/src/common/styles/breakpoints" as *;

.header {
  display: flex;
  flex-direction: column;
  padding: $padding;
  .header-logo {
    @extend %flex-between;
    gap: $padding;
    a {
      font-size: 1.8em;
      font-weight: 700;
      img {
        width: $imgHeight;
        height: $imgHeight;
      }
    }
    .logo {
      display: flex;
      align-items: end;
      flex-wrap: nowrap;
    }
    .sign {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: $padding;
      .user-image {
        @extend %flex-center;
        width: $linkLineHeight;
        img {
          width: 26px;
          height: 26px;
          border-radius: var(--btn-radius);
        }
      }
      a,
      button {
        @extend %btn-style;
      }
      a {
        @include link-style($linkWidth, $buttonHeight, $linkLineHeight);
      }
      button {
        @include button-style($buttonWidth, $buttonHeight, $buttonPadding);
      }
    }
  }
  .header-nav {
    @extend %flex-between;
    flex-wrap: wrap;
    .disabledLink {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $buttonPadding;
      padding: $zero;
      .active-nav {
        --btn-style-color: rgb(100, 185, 255);
      }
      a {
        @extend %btn-style;
        @include link-style($linkWidth, $buttonHeight, $linkLineHeight);
      }
    }
    .style-panel {
      display: flex;
      flex-direction: row;
      gap: $buttonPadding;
      .btn {
        @include button-style($imgHeight, $buttonHeight, $buttonPadding);
        @extend %btn-style;
        @extend %flex-center;
        img {
          width: 35px;
          height: 25px;
          border-radius: var(--btn-radius);
        }
      }
      .btn-second {
        @include button-style($buttonWidthSecond, $buttonHeight, $buttonPadding);
        @extend %btn-style;
      }
    }
  }
  @media screen and (max-width: $x) {
    .style-panel {
      padding-top: $buttonPadding;
    }
  }
}
