@use '/src/common/styles/widths' as *;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    .header-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 1.8em;
            font-weight: 700;
            img {
                width: 40px;
            }
        }
        .sign {
            display: flex;
            align-items: center;
            gap: 5px;
            .active-link {
                background-color: rgb(190, 190, 190);
            }
            a, button {
                @extend %btn-style;
            }
            a {
                @include link-style($linkWidth, $linkHeight, $linkLineHeight);
            }
            button {
                @include button-style($buttonWidth, $buttonHeight, $buttonPadding);
            }
        }
    }
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 0;
            .active-nav {
                --text-color: rgb(40, 40, 40);
                --btn-style-color: rgb(230, 230, 230);
            }
            a {
                @extend %btn-style;
                @include link-style($linkWidth, $linkHeight, $linkLineHeight);
            }
        }
        .style-panel {
            display: flex;
            flex-direction: row;
            gap: 10px;
            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                @include button-style(40px, $buttonHeight, $buttonPadding);
                @extend %btn-style;
                img {
                    width: 35px;
                    height: 25px;
                }
            }
            .btn-second {
                @include button-style(120px, $buttonHeight, $buttonPadding);
                @extend %btn-style;
            }
            .btn-third {
                @include button-style(60px, $buttonHeight, $buttonPadding);
                @extend %btn-style;
            }
        }
    }
}