@use '/src/common/styles/templates' as *;
@use "/src/common/styles/breakpoints" as *;
@use "/src/common/styles/widths" as *;
@use "/src/common/styles/colors" as *;

.form {
    @extend %flex-column;
    width: 70%;
    margin: auto;
    gap: $padding;
    h2 {
        text-align: center;
    }
    label {
        position: relative;
        input {
            @extend %panel-style;
            width: 400px;
            height: 35px;
            padding-left: $buttonPadding;
        }
        .show-password {
            cursor: pointer;
            display: flex;
            position: absolute;
            right: $zero;
            bottom: 0.5vh;
            margin: $zero $cardPadding;
        }
    }
    button {
        @extend %btn-style;
        width: 400px;
        height: 35px;
    }
    select {
        @extend %panel-style;
        width: 400px;
        height: 35px;
    }
    .error {
        color: $errorColor;
        text-transform: capitalize;
    }
    @media screen and (max-width: $s) {
        button {
            width: $formWidth;
        }
        label {
            input {
                width: $formWidth;
            }
        }
    }
}