@use '/src/common/styles/templates' as *;

.form {
    width: 520px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    h2 {
        text-align: center;
    }
    label {
        position: relative;
        input {
            @extend %panel-style;
            width: 400px;
            height: 35px;
            padding-left: 10px;
        }
        .show-password {
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0.9vh;
            margin: 0px 15px;
        }
    }
    button {
        @extend %btn-style;
        width: 416px;
        height: 41px;
    }
}